.container {
    border:1px solid;
    display: flex;
    flex-direction: column;
    max-width: 80vh;
    aspect-ratio: 1/1;
}

.gridRow {
    display: flex;
    flex: 1;
}

.gridUnit {
    flex: 1;
    max-width: 5vh;
    box-sizing: border-box;
    aspect-ratio: 1/1;
}

button {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}


