.container {
    display: flex;
    flex-direction: column;
}

.gridRow {
    display: flex;
    flex: 1;
}

.gridUnit {
    border: 1px solid black;
    flex: 1;
    max-width: 5vh;
    box-sizing: border-box;
    aspect-ratio: 1/1;
}

button {
    margin: 10px;
}